<!DOCTYPE html>
<html>
<head>
</head>

<body class="nav-collapsed">
<header id=header>
 
</header>
<div class="container">
	<div class="menu_container cf">
		<a id="menu-toggle" class="anchor-link" href="#mobile-nav">MENU</a>
	</div>
	
	<nav id="mobile-nav" class="nav cf" role="navigation">
	</nav> 
<section class="main_content" role="main">
<div id="middsec">
	<div id="profilePic-container" >
		
	</div>
	<div>
		<div id="porofileDesc">
		</div>
	</div>
</div>
</section>

</div>
<div id="footer"></div>
</body>
</html>