<!-- navigation tutorial https://responsivenavigation.net/examples/off-canvas-slide/# -->

	<div class="menu_container cf">
		<a id="menu-toggle" class="anchor-link" href="#mobile-nav">MENU</a>
	</div>
	
	<nav id="mobile-nav" class="nav cf" role="navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="index.html#exp">Experience</a></li>
			<li><a href="index.html#research">Research</a></li>
			<li><a href="index.html#pub">Publications</a></li>
			<li><a href="index.html#teach">Teachings</a><l>
			<li><a href="index.html#talks">Talks</a><l>
			<!-- <li><a href="#">Teaching</a></li> -->
			<li><a href="https://rim-el-ballouli.github.io/blog/">Blog</a></li>
		</ul>
	</nav>
	
