<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/assets/css/index.css">

<script type="text/javascript">
  document.documentElement.className = 'js';
</script>

<script src='https://d33wubrfki0l68.cloudfront.net/js/34649f4bc672d45319e6bddeb4c00298f5e57613/assets/js/jquery-1.9.1.min.js'></script>
<script>

$(document).ready(function() {
	
	window.scrollTo(0, 1);
	
	$('.js #menu-toggle').click(function (e) {
		$('body').toggleClass('active');
		e.preventDefault();
    });

});
</script>
</head>

<body class="nav-collapsed">
{% include header.html %}
{% include navigation.html %}

<section class="main_content" role="main">
{{ content }}
</section>
</div>
{% include footer.html %}
</html>