<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
<div id=header>
 	<div id="name"> Rim El Ballouli, PhD<br></div>
   	<div id="desc">Doctor of Philisophy in Computer Science</div>
	<div id="navigation">
		<ul>
		<li><a href="about.html">About</a></li>
		<li><a href="experience.html">Experience</a></li>
  		<li><a href="reserahc.html">Research</a></li>
 		<li><a href="projects.html">Projects</a></li>
  		<li><a href="news.html">News</a></li>
  		<li><a href="blog.html">Blog</a></li>
  		</ul>
	</div>
</div>
{{ content }}
<div id="footer"></div>
</body>
</html>